<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297400373427-3j13to5vd1eg973chg42o3m9psqok131.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297400373427-3j13to5vd1eg973chg42o3m9psqok131</string>
	<key>API_KEY</key>
	<string>AIzaSyBn7ktIHQ2B_8MxF8W7B_HNzTA1Ba6H-oM</string>
	<key>GCM_SENDER_ID</key>
	<string>297400373427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeanlucas.ArmyFit</string>
	<key>PROJECT_ID</key>
	<string>armyfit-e0341</string>
	<key>STORAGE_BUCKET</key>
	<string>armyfit-e0341.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297400373427:ios:1b84a2b7e6ff439f5660c6</string>
</dict>
</plist>